@import "./App.scss";

//NAVBAR - HEADER
nav {
  width: 100%;
  height: 60px;

  .nav-cont {
    margin: 0 auto;
    height: 100%;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 50px;
      width: 90px;
      background-image: url("/logo.png");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      filter: grayscale(0.8);
      transition: filter 0.5s;

      &:hover {
        filter: grayscale(0);
      }
    }

    .nav-elements {
      height: 50px;

      .navlinks {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 20px;

        .products-navlink {
          position: relative;

          .hidden-div {
            position: absolute;
            left: -20px;
            padding-top: 0;
            z-index: 10;
            opacity: 0;
            transition: all 0.2s;

            .hidden-div-cont {
              display: flex;
              align-items: baseline;
              justify-content: space-between;
              flex-direction: column;
              gap: 10px;
              overflow: hidden;
              height: 0;
              padding: 0 20px;
              font-size: 12px;
              width: 110%;
              border-radius: 10px;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              background-color: rgba(255, 255, 255, 0.9);
              transition: all 0.2s;
            }

            &.show {
              padding-top: 20px;
              opacity: 1;

              .hidden-div-cont {
                padding: 20px;
                height: 190px;
                transition: all 0.3s;
              }
            }
          }
        }

        a {
          text-decoration: none;
          color: black;
          padding: 5px 10px;
          border-radius: 50px;
          transition: background-color 0.5s;
          letter-spacing: 1px;
          transition: background-color 0.2s, color 0.2s;
          background-image: linear-gradient(
            to right,
            transparent 50%,
            rgb(194, 194, 194) 50%
          );
          background-size: 200% 100%;
          transition: background-position 0.2s ease;

          &:hover {
            background-position: -100% 0;
          }

          &.active {
            background-color: rgb(194, 194, 194, 0.5);
            backdrop-filter: blur(1px);
          }
        }
      }

      button.theme {
        all: unset;
        background-image: url("https://www.iconbolt.com/iconsets/responsive-flat/light-bulb.svg");
        filter: grayscale(0.8);
        width: 20px;
        height: 50px;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        display: flex;
        background-repeat: no-repeat;
        content-visibility: hidden;

        &:hover {
          filter: grayscale(0);
          scale: 1.1;
          transition: all 0.5s;
        }
      }
    }

    .menu-btn {
      display: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  nav {
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
    .nav-cont {
      width: 98%;

      .logo {
        filter: grayscale(0);
      }

      .nav-elements {
        position: absolute;
        display: flex;
        height: 100vh;
        width: 0;
        top: 0;
        right: 0;
        z-index: 1000;
        transition: width 0.1s;
        overflow: hidden;

        .dark-part {
          height: 100%;
          width: 55vw;
          background-color: rgba(0, 0, 0, 0.05);
        }

        .navlinks {
          flex-direction: column;
          align-items: baseline;
          padding: 80px 20px;
          width: 45vw;
          background-color: rgba(240, 240, 240, 0.97);

          .products-navlink {
            position: relative;

            .hidden-div {
              position: static;
              opacity: 1;
              padding-top: 10px;

              .hidden-div-cont {
                height: auto;
                box-shadow: none;
                background-color: transparent;
              }

              &.show {
                padding-top: 10px;

                .hidden-div-cont {
                  padding: 0 20px;
                  height: auto;
                }
              }
            }
          }

          a {
            text-decoration: none;
            color: black;
            padding: 5px 10px;
            border-radius: 50px;
            transition: background-color 0.5s;
            letter-spacing: 1px;
            transition: background-color 0.2s, color 0.2s;
            background-image: none;
            transition: background-position 0.2s ease;

            &:hover {
              background-position: -100% 0;
            }

            &.active {
              background-color: rgb(194, 194, 194, 0.5);
              backdrop-filter: blur(1px);
            }
          }
        }

        button.theme {
          all: unset;
          background-image: none;
          filter: grayscale(0);
          width: auto;
          height: auto;
          cursor: pointer;
          padding: 5px 10px;

          &:hover {
            filter: grayscale(0);
            scale: 1;
          }
        }

        &.show {
          width: 100%;
        }
      }

      .menu-btn {
        display: block;
        all: unset;
        height: 30px;
        width: 30px;
        background-image: url("/icons/menu.svg");
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: background-image 0.2s;
        position: absolute;
        right: 0;
        z-index: 1001;

        &.show {
          background-image: url("/icons/menu-close.svg");
        }
      }
    }
  }
}

//FOOTER
footer {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    rgb(194, 194, 194, 0.2),
    rgba(255, 255, 255, 0.9)
  );
  backdrop-filter: blur(1px);

  .footer-cont {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 12px;
        color: black;
        letter-spacing: 1px;
      }
    }

    .center {
      text-align: center;
      letter-spacing: 5px;
      color: black;
    }

    .right {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;

      a {
        height: 30px;
        width: 30px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        filter: grayscale(0.8);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          filter: grayscale(0);
        }
        &:nth-child(1) {
          background-image: url("/icons/instagram.svg");
        }
        &:nth-child(2) {
          background-image: url("/icons/facebook.svg");
        }
        &:nth-child(3) {
          background-image: url("/icons/youtube.svg");
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  footer {
    height: 150px;
    .footer-cont {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      .left {
        p {
          font-size: 8px;
          text-align: center;
        }
      }

      .center {
        letter-spacing: 3px;

        h3 {
          font-size: 16px;
          margin-top: 10px;
        }

        p {
          font-size: 10px;
        }
      }

      .right {
        height: 70px;
        margin-top: 20px;

        a {
          height: 25px;
          width: 25px;
          filter: grayscale(0);
        }
      }
    }
  }
}
