@import "./App.scss";

//HOMEPAGE
.page.home {
  width: 100%;

  .main-text-cont {
    position: relative;

    .big-text-main {
      font-size: 100px;
      letter-spacing: 10px;
      line-height: 120px;

      &:nth-child(1) {
        margin-top: 50px;
        text-align: left;
      }

      &:nth-child(2) {
        text-align: end;
      }

      &:nth-child(3) {
        font-size: 150px;
        line-height: 140px;
        font-weight: 700;
        color: $darkblue;
        text-align: center;
      }
    }

    .animated-icon {
      position: absolute;
      right: 10px;
      top: -60px;
      filter: opacity(0.1);
    }
  }

  .main-img-slider-cont {
    margin-top: 200px;
    height: 600px;
    width: 100%;
    position: relative;
    margin-bottom: 100px;

    .home-main-img {
      height: 100%;
      width: 100%;
    }

    .slide-container {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      object-fit: cover;

      .react-slideshow-container .nav:first-of-type {
        left: 20px;
        background-color: rgba(255, 255, 255, 0);
      }

      .react-slideshow-container .nav:last-of-type {
        right: 20px;
        background-color: rgba(255, 255, 255, 0);
      }
    }

    #slide {
      height: 600px;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;

      p.caption {
        font-size: 22px;
        letter-spacing: 5px;
        text-align: center;
        margin: 0;
        color: white;
        padding: 25px 45px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        backdrop-filter: blur(2px);
      }
    }
  }

  .home-info-grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 80px;

    .home-info-div {
      height: 350px;
      width: 24%;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      backdrop-filter: blur(1px);

      .img-cont {
        height: 50%;
        width: 100%;
        border-radius: 5px 5px 0 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .logo-cont {
        width: 70px;
        height: 70px;
        margin: 20px auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      h2 {
        text-align: center;
        font-weight: 200;
        font-size: 18px;
        letter-spacing: 2px;
      }

      &:nth-child(1) {
        .img-cont {
          background-image: url("/photos/iron-fence.webp");
        }

        .logo-cont {
          background-image: url("/icons/fence.svg");
        }
      }

      &:nth-child(2) {
        .img-cont {
          background-image: url("/photos/industrial-table.jpg");
        }

        .logo-cont {
          background-image: url("/icons/dining-table.svg");
        }
      }

      &:nth-child(3) {
        .img-cont {
          background-image: url("/photos/industrial coffee table.jpeg");
        }

        .logo-cont {
          background-image: url("/icons/paint.svg");
          background-size: 80%;
        }
      }

      &:nth-child(4) {
        .img-cont {
          background-image: url("/photos/montiranje.jpeg");
        }

        .logo-cont {
          background-image: url("/icons/wrench.svg");
          background-size: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .page.home {
    width: 100vw;
    padding: 5px;

    .main-text-cont {
      position: relative;
      .big-text-main {
        font-size: 35px;
        letter-spacing: 5px;
        line-height: 45px;
        width: 100vw;

        &:nth-child(3) {
          font-size: 50px;
          line-height: 70px;
          text-align: end;
        }
      }

      .animated-icon {
        position: absolute;
        left: 30px;
        top: -180px;
        filter: opacity(0.1);
        scale: 0.4;
      }
    }

    .main-img-slider-cont {
      margin-top: 100px;
      height: 400px;

      .home-main-img {
        object-fit: cover;
      }

      .slide-container {
        .react-slideshow-container .nav:first-of-type {
          display: none;
        }
        .react-slideshow-container .nav:last-of-type {
          display: none;
        }
      }

      #slide {
        height: 400px;

        p.caption {
          font-size: 12px;
          letter-spacing: 3px;
          padding: 15px 30px;
          border-radius: 5px;
        }
      }
    }

    .home-info-grid {
      margin: 0 auto;
      width: 90%;
      display: flex;
      flex-wrap: wrap;

      .home-info-div {
        height: 300px;
        width: calc(50% - 5px);
        margin-bottom: 10px;

        .logo-cont {
          width: 40px;
          height: 40px;
        }

        h2 {
          font-size: 14px;
        }
      }
    }
  }
}
