@import "./App.scss";

//LOADING PAGE
.loader {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("/background/background-light.jpg");

  .main-img {
    position: absolute;
    width: 40vw;
    height: 50vw;
    top: 20%;
    left: 30%;
    border-radius: 4px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .latter-img {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: rgba(46, 67, 129, 0.2) 0px 8px 24px;

    &:nth-child(2) {
      left: 15vw;
      top: 10vh;
      background-image: url("/products/25.jpg");
      height: 30vh;
      width: 10vw;
    }

    &:nth-child(3) {
      left: 5vw;
      bottom: 10vh;
      background-image: url("/products/19.jpg");
      height: 15vw;
      width: 18vw;
    }

    &:nth-child(4) {
      right: 8vw;
      bottom: 2vw;
      background-image: url("/products/32.jpg");
      height: 22vw;
      width: 14vw;
    }

    &:nth-child(5) {
      top: 8vw;
      right: 10vw;
      background-image: url("/products/15.jpg");
      height: 18vw;
      width: 18vw;
      z-index: 1;
    }
  }
}
