@import "./App.scss";

.page.products {
  width: 100%;

  .products-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;

    .vanilla-section {
      width: 48%;
      margin: 1%;
      aspect-ratio: 1/1.1;
      background-color: transparent;
      border-radius: 20px;
      backdrop-filter: blur(2px);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: 2px solid white;

      &.one {
        a {
          .img-grid {
            .img-cont {
              &:nth-of-type(1) {
                background-image: url("/products/UKRASNE GARNIŠNE/1.jpg");
              }
              &:nth-of-type(2) {
                background-image: url("/products/UKRASNE GARNIŠNE/2.jpg");
              }
              &:nth-of-type(3) {
                background-image: url("/products/UKRASNE GARNIŠNE/3.jpg");
              }
              &:nth-of-type(4) {
                background-image: url("/products/UKRASNE GARNIŠNE/7.jpg");
              }
            }
          }
        }
      }

      &.two {
        a {
          .img-grid {
            .img-cont {
              &:nth-of-type(1) {
                background-image: url("/products/NOSAČI ZAVESA/1.jpg");
              }
              &:nth-of-type(2) {
                background-image: url("/products/NOSAČI ZAVESA/2.jpg");
              }
              &:nth-of-type(3) {
                background-image: url("/products/NOSAČI ZAVESA/5.jpg");
              }
              &:nth-of-type(4) {
                background-image: url("/products/NOSAČI ZAVESA/8.jpg");
              }
            }
          }
        }
      }

      &.three {
        a {
          .img-grid {
            .img-cont {
              &:nth-of-type(1) {
                background-image: url("/products/KUPATILSKA GALANTERIJA/1.jpg");
              }
              &:nth-of-type(2) {
                background-image: url("/products/KUPATILSKA GALANTERIJA/2.jpg");
              }
              &:nth-of-type(3) {
                background-image: url("/products/KUPATILSKA GALANTERIJA/3.jpg");
              }
              &:nth-of-type(4) {
                background-image: url("/products/KUPATILSKA GALANTERIJA/4.jpg");
              }
            }
          }
        }
      }

      &.four {
        a {
          .img-grid {
            .img-cont {
              &:nth-of-type(1) {
                background-image: url("/products/ZIDNE SUŠILICE ZA VEŠ/1.jpg");
              }
              &:nth-of-type(2) {
                background-image: url("/products/ZIDNE SUŠILICE ZA VEŠ/2.jpg");
              }
              &:nth-of-type(3) {
                background-image: url("/products/ZIDNE SUŠILICE ZA VEŠ/3.jpg");
              }
              &:nth-of-type(4) {
                background-image: url("/products/ZIDNE SUŠILICE ZA VEŠ/1.jpg");
              }
            }
          }
        }
      }

      &.five {
        a {
          .img-grid {
            .img-cont {
              &:nth-of-type(1) {
                background-image: url("/products/METALNI NAMEŠTAJ/1.jpg");
              }
              &:nth-of-type(2) {
                background-image: url("/products/METALNI NAMEŠTAJ/7.jpg");
              }
              &:nth-of-type(3) {
                background-image: url("/products/METALNI NAMEŠTAJ/11.jpg");
              }
              &:nth-of-type(4) {
                background-image: url("/products/METALNI NAMEŠTAJ/13.jpg");
              }
            }
          }
        }
      }

      &.six {
        a {
          .img-grid {
            .img-cont {
              &:nth-of-type(1) {
                background-image: url("/products/OGRADE/METALNE OGRADE/SINDJELIĆEVA SP/20200930_081809.jpg");
              }
              &:nth-of-type(2) {
                background-image: url("/products/OGRADE/METALNE OGRADE/SINĐELIĆEVA UN/IMG-20210429-WA0006.jpg");
              }
              &:nth-of-type(3) {
                background-image: url("/products/OGRADE/METALNE OGRADE/SKADARLIJA/20220510_162612.jpg");
              }
              &:nth-of-type(4) {
                background-image: url("/products/OGRADE/METALNE OGRADE/BRAĆE JERKOVIĆ 1/Screenshot_20211122-221613_Instagram.jpg");
              }
            }
          }
        }
      }

      &.seven {
        a {
          .img-grid {
            .img-cont {
              &:nth-of-type(1) {
                background-image: url("/products/METALNE KONSTRUKCIJE/KOSMAJ 2/20221114_122125.jpg");
              }
              &:nth-of-type(2) {
                background-image: url("/products/METALNE KONSTRUKCIJE/BUDIMSKA BEOGRAD/20231009_111524.jpg");
              }
              &:nth-of-type(3) {
                background-image: url("/products/METALNE KONSTRUKCIJE/JAJINCI HALA/IMG-20240606-WA0112.jpg");
              }
              &:nth-of-type(4) {
                background-image: url("/products/METALNE KONSTRUKCIJE/KOSMAJ 2/IMG-20240606-WA0052.jpg");
              }
            }
          }
        }
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        text-decoration: none;
        color: gray;

        h1 {
          letter-spacing: 6px;
          font-weight: 200;
          font-size: 30px;
        }

        h3 {
          font-weight: 200;
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 20px;
        }

        p {
          color: black;
          font-size: 14px;
          text-align: justify;
          font-weight: 300;
          margin-bottom: 20px;
        }

        .img-grid {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1%;

          .img-cont {
            width: 25%;
            aspect-ratio: 1/1.2;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border-radius: 5px;
            filter: grayscale(0.5);
          }
        }
      }
    }
  }
}
