@import "./App.scss";

.swiper-part {
  margin: 40px auto;
  height: 300px;
  width: 80%;

  .swiper-cont {
    height: 100%;

    .swiper {
      .swiper-slide {
        height: 300px;
        width: 200px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.4s;
          filter: grayscale(0.5);

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            filter: grayscale(0);
          }
        }
      }

      .swiper-pagination {
        bottom: 0px;
        text-align: center;
        width: 100%;
      }

      .swiper-pagination-bullet {
        background-color: white;
      }

      .swiper-pagination-bullet-active {
        background-color: white;
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 30px;
      }
    }
  }
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.modal button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(194, 194, 194, 0.5);
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgb(194, 194, 194);
  }
}

.modal-prev {
  left: 20px;
  background-image: url("/icons/left.svg");
}

.modal-next {
  right: 20px;
  background-image: url("/icons/right.svg");

}
